# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# IDE files
*.csproj
*.sln
*.user
*.userprefs
.vs/
.idea/

# OS files
.DS_Store
Thumbs.db

# Sensibles / keys
*.keystore
